@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700;800&display=swap")

$sm-max: 460px
$md-max: 800px
$lg-max: 1024px
$sm-min: 320px
$md-min: 768px
$lg-min: 960px

$body: "Open Sans", sans-serif
$header: "Baloo 2", sans-serif

body,
html
  margin: 0
  max-height: 100%
  height: auto
  overflow-x: hidden

body
  min-height: 100vh
  scroll-behavior: smooth
  text-rendering: optimizeSpeed
  background-color: #011826

p, span, blockquote
  font-family: $body
  margin: .5em
p
  &.title
    font-size: 2em
    font-family: $header
    font-weight: bold
  &.center
    text-align: center
  &.pink
    border: 3px solid #f26389
    color: #f26389
    padding: .5em 1em

ul
  font-family: $body
  list-style-type: none
  li
    padding: .25em 0

h1, h2, h3, h4, h5, h6
  font-family: $header
  margin-bottom: 0

h1
  font-size: 3em
  font-weight: bolder
  color: #011826

h2
  font-size: 2em
  font-weight: bolder
  color: #011826
  &.blockquote
    font-size: 1.2em
    font-weight: bolder
    padding: .3em .5em
    border-left: 8px solid #f26389
    margin: .5em
  &.h2icon
    font-size: 1.5em
    margin: 0
    text-align: center
  &.center
    text-align: center
  &.text
    font-family: $body
    font-size: 1em
    font-weight: normal
    margin: .5em
  &.title2
    font-size: 1.5em

h3
  font-size: 1.5em
  font-weight: bolder
  color: #011826
  &.center
    text-align: center

h4
  font-size: 1em
  font-weight: bolder
  color: #011826

h5
  font-size: .83em
  font-weight: bolder

h6
  font-size: .67em
  font-weight: bolder

.social
  font-family: $header
  color: #f26389
  font-weight: bold
  font-size: 1.5em
  text-decoration: none
  a:hover
    font-weight: 900

footer
  background-color: #f26389
  color: #f2f2f2
  font-size: .8em
  a
    font-family: "Open Sans", sans-serif
    color: #011826
    padding: .3em
    font-weight: lighter
    text-decoration: none
  a:hover
    font-weight: 900
  div
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    @media (min-width: $sm-min) and (max-width: $md-max) and(orientation: portrait)
      flex-flow: column nowrap
      align-items: center
      padding: .5em
  .copyright
    justify-content: center
    align-items: center
  .legal
    justify-content: space-around
    align-items: center

mark
  background-color: #f26389
  line-height: 2

img
  width: 100%
  height: auto
  display: block
  max-width: 80vw
  &.avatar
    min-width: 200px
    min-height: 200px
    max-width: 200px
    max-height: 200px
  &.portfolio-img
    padding: 1em 2em

button
  background-color: #f2f2f2
  border: 2px #f26389 solid
  border-radius: 8px
  color: #f26389
  &.call
    font-family: "Baloo 2", cursive
    font-size: 1.3em
    font-weight: bold
    padding: 12px 24px
    text-decoration: none
    max-width: 300px

.Cookie--mytheme
  background-color: #242122bb
  font-family: "Open Sans", sans-serif
  padding: .5em 1em
  color: white
  a
    color: red
  .Cookie__button
    padding: 1em
    font-weight: bold
    background-color: #8CFFC0
    margin: 1em
  .Cookie__declineButton
    padding: 1em
    margin: 1em
    font-weight: bold

section
  display: flex
  flex-flow: column nowrap
  padding: 0.5em
  &.pink
    background-image: url("./assets/pink.png")
    background-repeat: repeat
    background-position: center
    background-size: cover
    background-color: #f26389
    border-top: 2px solid #f26389
    min-height: 100px
  &.blue
    background-image: url("./assets/blue.png")
    background-repeat: repeat
    background-position: center
    background-size: cover
    background-color: #011826
    border-bottom: 2px solid #011826
  &.legal
    padding: 3em

div
  display: flex
  &#app
    position: relative
    margin: 0 auto
    max-width: 1250px
    text-align: left
    background-color: #F2F2F2
  &.container
    flex-flow: column nowrap
  &.left
    justify-content: left
    align-items: left
  &.center
    justify-content: center
    align-items: center
  &.hero
    flex-flow: column nowrap
    padding: 2em
    margin: 0 auto
  &.value
    flex-flow: column nowrap
    padding: 2em
    @media (min-width: $lg-max)
      padding: 2em 10em
  &.about
    flex-flow: row nowrap
    padding: 2em
    @media (min-width: $sm-min) and (max-width: $md-max) and(orientation: portrait)
      flex-flow: column nowrap
      align-items: center
      padding: 1em
    @media (min-width: $lg-max)
      padding: 2em 10em

  &.description
    flex-flow: column nowrap
    padding: 2em
    @media (min-width: $sm-min) and (max-width: $md-max) and(orientation: portrait)
      text-align: center
      padding: 1em

  &.tech
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    padding: 2em
    @media (min-width: $lg-max)
      padding: 2em 10em
  &.image
    justify-content: center
    align-items: center
    border-radius: 50%
    overflow: hidden
    min-width: 200px
    min-height: 200px
    max-width: 200px
    max-height: 200px
  &.icons
    flex-flow: row wrap
    align-items: center
    justify-content: center
  &.icon
    flex-flow: column nowrap
    align-items: center
    justify-content: center
    padding: 1em
    width: 5em
  &.portfolio
    flex-flow: column nowrap
    justify-content: center
    align-items: center
  &.action
    justify-content: center
    align-items: center
    padding: 3em

.emoji
  font-size: 3em

form
  background-color: #f2f2f2b2
  margin: 0 auto
  width: 100%
  min-width: 250px
  max-width: 400px
  a
    color: #f26389
    font-weight: bold
    padding: .3em
    text-decoration: none

fieldset
  display: flex
  flex-flow: column nowrap
  justify-content: center
  border: none

.formElement
  display: flex
  flex-flow: column nowrap
  padding: .5em 0
.formElement-v
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  padding: .5em 0
label
  font-family: $header
  font-size: 1rem
input, textarea
  font-family: $body
  border: none
  padding: .5em
  font-size: .8rem
  border-radius: 10px
input:focus, textarea:focus
  outline: none
.disclaimer
  font: $body
  font-size: .7rem
  display: flex
  flex-flow: column nowrap
  text-align: justify
  span
    font-weight: bold
    margin: 0

.sendButton
  font-family: $header
  font-weight: bolder
  font-size: 1.3rem
  color: #f26389
  background-color: #F2F2F2
  border: 2px solid #f26389
  &:disabled
    background-color: #F2F2F2
    color:#f263897e
    border: 2px solid #f263897e
    pointer-events: none
  &:hover
    background-color: #f26389
    color: #F2F2F2
    cursor: pointer
  
span
  &.error
    font-family: $body
    font-size: .8rem
    font-weight: bold
    color: red
    text-align: center
  &.success
    font-family: $body
    font-size: .8rem
    font-weight: bold
    color: green
    text-align: center